.AddCardButton_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.AddCardButton{
    cursor: pointer;
}

.AddCardButton_icon{
    color: white;
    font-size: 30px;
}