.Cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Cards_content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 1rem;*/
}
