.Cards{
    /*max-width: px;*/
    min-height: calc(100vh - 80px);
    /*background-color: antiquewhite;*/
    /*margin-top: -40px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Cards_content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 1rem;*/
}
.Cards_next{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}